%ul.side-nav
  %li= link_to 'About Ms H.', 'about'
  %li= link_to 'FFA', 'ffa'
  %li= link_to 'STEM', 'stem'
  %li= link_to 'Plant Sale', 'plant_sale'
  %li= link_to 'Our Greenhouse', 'greenhouse'
  %li= link_to 'Hydroponics', 'hydroponics'

 = render :partial => 'facebook_badge'