-content_for :title do
  = main_title
- content_for :head do
  .header
    .header-image
      = image_tag 'greenhouse_large_2.jpg'
    .container
      .row
        .span12
          %h1 Horticulture with Ms. H.
          %h2 at Monroe High School

-# %h2 Our students are up to something...

.hero-unit
  %h2
    %strong The Monroe FFA Plant Sale is Happening Now!
  %p
    The plant sale runs Fridays and Saturdays May 4th through the 26th.  Come visit and help support our FFA program.
  = link_to 'Find out more', 'plant-sale', :class => 'btn btn-success btn-large'


.hero-unit
  = image_tag 'stem-expo.png', :alt => 'STEM Expo 2012 at Monroe High School'
  %h2
    %strong STEM Learning Expo
  %p
    Wednesday, May 23, 2012, 5:30-7:30
    %br
    Monroe High School
  %p
    Come see what our science, technology, engineering and math students have been up to and get a preview for what's in store for next year's group of aspring minds.  The EXPO is held in the Perforing Arts Center. 
  = link_to 'Click here for directions', 'http://g.co/maps/xkw8b', :class => 'btn btn-success btn-large'
  .clearfix

= render :partial => 'calendar'

-#
  .blog_posts
    .post
      %h3 Blog Post Title
      %h4 Posted by Jaysohn Çmith, March 12, 2012
      = image_tag 'http://placekitten.com/200/200', :width => 200, :height => 200
      %p Turkey ball tip ham hock andouille pancetta, meatloaf tenderloin tail ham shank. Sausage pork belly meatball beef ribs spare ribs filet mignon. Jowl ham kielbasa pork belly brisket, jerky chicken ground round corned beef cow tail. Rump drumstick short ribs tongue, shoulder pork loin boudin chuck meatloaf.
      %p Prosciutto beef ribs biltong, ground round pastrami andouille fatback pig ham hock boudin ribeye. Tongue prosciutto leberkas flank ribeye turkey. Prosciutto jerky pastrami ham hock, pig ham short ribs strip steak pancetta tail shoulder swine corned beef capicola. Boudin brisket chuck drumstick. Chicken jowl tenderloin, drumstick capicola ham hock andouille prosciutto sirloin tri-tip bacon shankle. Prosciutto ham andouille spare ribs bresaola tail, chuck leberkas tri-tip strip steak drumstick short loin swine.
      %p Frankfurter ground round short ribs, tongue spare ribs shankle bacon pork chop biltong corned beef swine hamburger brisket salami. Pig shoulder meatloaf biltong tail swine, filet mignon pancetta salami ribeye sausage. Frankfurter prosciutto jerky, ground round tail pig short ribs swine chicken ham flank hamburger. Chuck kielbasa ham hock ham.


    .post
      %h3 Blog Post Title
      %h4 Posted by Jaysohn Çmith, March 12, 2012
      = image_tag 'http://placekitten.com/201/200', :width => 200, :height => 200
      %p Turkey ball tip ham hock andouille pancetta, meatloaf tenderloin tail ham shank. Sausage pork belly meatball beef ribs spare ribs filet mignon. Jowl ham kielbasa pork belly brisket, jerky chicken ground round corned beef cow tail. Rump drumstick short ribs tongue, shoulder pork loin boudin chuck meatloaf.
      %p Prosciutto beef ribs biltong, ground round pastrami andouille fatback pig ham hock boudin ribeye. Tongue prosciutto leberkas flank ribeye turkey. Prosciutto jerky pastrami ham hock, pig ham short ribs strip steak pancetta tail shoulder swine corned beef capicola. Boudin brisket chuck drumstick. Chicken jowl tenderloin, drumstick capicola ham hock andouille prosciutto sirloin tri-tip bacon shankle. Prosciutto ham andouille spare ribs bresaola tail, chuck leberkas tri-tip strip steak drumstick short loin swine.
      %p Frankfurter ground round short ribs, tongue spare ribs shankle bacon pork chop biltong corned beef swine hamburger brisket salami. Pig shoulder meatloaf biltong tail swine, filet mignon pancetta salami ribeye sausage. Frankfurter prosciutto jerky, ground round tail pig short ribs swine chicken ham flank hamburger. Chuck kielbasa ham hock ham.