-content_for :title do
  = "Monroe High School FFA Plant Sale"
- content_for :head do
  .header.page
    .header-image
      = image_tag 'greenhouse_large_2.jpg'
    .container
      .row
        .span12
          %h1 Monroe High School FFA Plant Sale

- content_for :breadcrumbs do
  .row
    .span12
      %ul.breadcrumb
        %li
          =link_to 'Home', '/'
          %span.divider /
        %li.active
          =link_to 'FFA Plant Sale', '/', :class => 'active'

%h2 Spring is in the air!
%h3 Come join us for our annual FFA Plant Sale!

.detail-item
  .info-label
    Sale Dates:
  .info-text
    Every Friday and Saturday in May
  
.detail-item
  .info-label
    Friday Hours:
  .info-text
    3pm - 5pm on May 4, 11, 18, 25

.detail-item
  .info-label
    Saturday Hours:
  .info-text
    10am - 3pm on May 5, 12, 19, 26

.detail-item
  .info-label
    Location:
  .info-text
    MHS Greenhouse, 17001 Tester Rd Monroe, WA 98272

.sale-item-group
  %h4
    12” Fuchsia and Mixed Hanging Baskets - $23.00
  %ul
    %li
      = "10 varieties of Fuchsias: Bicentennial double salmon and magenta, Indian Maid- double red and dark purple, Lena- double pink and purple, Marinka- single wine-red Swingtime- double red and white, Willie Tamerus- single salmon, Dark Eyes- double dark purple and red, First Love- double pink and lavender, Blush O’ Dawn- double violet and white, Curtain Call- double Pink Carmine and white"
    %li= "4 varieties of TrixiLiners/Mixed Baskets with Lobelia, Verbena, and Calibrachoa"
    %li= "Tuberous Begonia Baskets (10”)"

.sale-item-group
  %h4
    Patio Containers - $14.00
  %ul
    %li= "Herb Sampler- Thyme, Oregano, Rosemary, Sage, and Basil"
    %li= "Mixed Colorful Patio Bowls with Petunias, Bacopa, Verbena, and more!"
    %li= "Succulent, Drought Tolerant Sampler- Hens ‘n’ Chicks and Sedum "

.sale-item-group
  %h4
    Veggie Bowls - $6.00
  %ul
    %li= "Salsa Bowls with a Roma Tomato, Onion, Cilantro, and Jalapeño- great for Salsa fans!"
    %li= "Tomato Sampler Bowls with a Roma, Early Girl, Brandywine, and Cherry Tomato Plant"

.sale-item-group
  %h4
    6" Perennials - $5.00
  %ul
    %li= "Variety of grasses, 15 varieties of Hardy Fuchsias, 4 Hosta varieties, Shasta Daisy, 3 Lavender varieties, Chysanthemum, Hardy Verbena, Gauna, Virginia Creeper, and many more!"

.sale-item-group
  %h4
    4” Perennials and Herbs - $3.00
  %ul
    %li= "15 varieties of Hardy Fuchsias, Lupine, Columbine, Sedum, Thyme, Rosemary, Sage, and more!"

.sale-item-group
  %h4
    Pony Packs (4) Annuals and Veggies- $2.50
  %ul
    %li= "Variety of Impatiens, Lobelia, Coleus, Zinnia, Marigold, and much more!"
    %li= "4 Varieties of Tomatoes (Cherries and Slicers), Lettuce, Peas, 3 Varieties of Basil and more!"

.sale-item-group
  %h4
    4" Annuals, Tomatoes, and House Plants- $2.00
  %ul
    %li= "Variety of gorgeous basket stuffers and bedding plants- 7 Varieties of Zonal Geraniums,  5 Varieties of Martha Washington Geraniums, 6 Varieties of Petunias, Heliotrope, Dahlia, Nasturtium, Celosia, Cosmos, Bacopa, Blue Lobelia, Diascia, Sunflower, Wax Begonias, and more!"
    %li= "Heirloom Tomatoes- Pruden’s Purple, German Green, Cherokee Purple, Gold Nugget, Fantastic"
    %li= "Spider Plant, Purple Heart, English Ivy, Maidenhair Fern, Stove Fern"