- content_for(:breadcrumb) do
  %li
    %span.divider= '/'
    = @classroom.name

%h1= @classroom.name

= form_tag edit_classroom_path(@classroom), :remote => true, :id => 'classroom_form' do
  %label{:for => 'name'} Name
  %input{:class => 'span6', :name => 'classroom[name]', :id => 'classroom[name]', :value => @classroom.name}
  %br
  &nbsp;
  %label{:for => 'introduction'} Intro Header
  %textarea{:class => 'span6', :name => 'classroom[introduction]', :id => 'classroom[introduction]', :value => @classroom.introduction}
    = @classroom.introduction
  %label{:for => 'description'} Description
  %textarea{:class => 'span6', :name => 'classroom[description]', :id => 'classroom[description]', :value => @classroom.description}
    = @classroom.description
  / %label{:for => 'name'} Subject
  / = select('classroom', 'subject_id', Subject.all.collect {|s| [s.name, s.id]}, {:include_blank => true})

%button{:class => 'btn btn-primary', :id => 'save_changes'} Save Changes 
%br
&nbsp;

%h2 Units

#units
  = render :partial => 'units/index_unit', :collection => @classroom.units

%button{:class => 'btn btn-primary', :id => 'add_unit_button', 'data-toggle' => 'modal', :href => '#add_unit'} 
  %i{:class => 'icon-plus icon-white'}
  Add Unit

#add_unit.modal.hide.fade.in
  .modal-header
    %a.close{'data-dismiss' => 'modal'} x
    %h3 Enter a name for this unit or choose an existing one:
  .modal-body
    = form_tag classroom_path(@classroom) + '/add_unit/', :remote => true, :id => 'add_unit_form' do
      %label Existing Units
      = select('unit', 'id', @all_units.collect {|s| [s.name, s.id]}, {:include_blank => true})
      %label New Unit
      %input#unit_name{:name => 'name'}
  .modal-footer
    %a{:href => '#', :class => 'btn btn-primary', :id => 'add_unit_submit_button'} Add
    %a{:href => '#', :class => 'btn', 'data-dismiss' => 'modal'} Cancel