!!! html

%html
  %head
    %title Manage - Horticulture With Ms. H
    = stylesheet_link_tag 'application_cms', :media => 'all'
    = javascript_include_tag 'application_cms'
    = csrf_meta_tags

  %body
    .container
      .navbar
        .navbar-inner
          = link_to 'Classroom Manager', classrooms_path, :class => 'brand'
          %ul.nav
            = nav_link('Classrooms', classrooms_path)
            = nav_link('Units', units_path)
      .row
        .span12
          / %ul.breadcrumb
          /   %li
          /     = link_to 'Classrooms', classrooms_path
          /   = yield(:breadcrumb)
      .row
        .span12
          .alert.alert-success
            %span 
            %a.close{:href => '#'} &times;
      .row
        .span12
          = yield
